.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    margin: 0;
    padding: 0;


}

.content {
    display: flex;
    height: 100vh;
}

.background-container {
    background-image: url('./assets/bg.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;

}

.text-container {
    padding: 20px;
    flex-grow: 1;
    /* background-color: rgb(225, 213, 206); */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    opacity: 0.4;
    margin-top: 80px;
}

.logo-container p {
    color: white;
    font-weight: 800;
    font-size: 1.5em;
}

.intro {}


.logo {
    width: 60px;
    height: 50px;

}

h1 {
    color: #333;
}

p {
    font-size: 1em;
    line-height: 1.2;
    color: #555;
}

.signup-form {
    background-color: white;
}

/* footer {
    text-align: center;
    padding: 20px;
    color: rgb(14, 10, 10);
    margin-top: 20px;
} */